.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.LikedButton {
  outline: none;
  box-shadow: none;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 0.85em;
  border-radius: 100px;
}

.Liked {
  background-color: rgb(255, 92, 92);
}

.Liked:hover {
  background-color: rgb(255, 80, 80);
}

.Usual {
  background-color: rgb(149, 149, 255);
}

.Usual:hover {
  background-color: rgb(255, 122, 122);
}

.DeleteButton {
  margin-left: 3%;
  margin-top: 3%;
  background-color: rgb(149, 149, 255);
  outline: none;
  box-shadow: none;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 0.9em;
  color: black;
  border-radius: 100px;
}

.DeleteButton:hover {
  background-color: rgb(95, 95, 109);
}

.FilterButton {
  height: 30px;
  width: 30px;
  border: 1px solid #000000;
  background: #ebd3af url(/public/edit.png) no-repeat 1px 1px;
  background-size: 26px;
  cursor: pointer;
  border-radius: 4px;
}

.Filtered {
  background-color: #858079;
}

.ReloadButton {
  margin-left: 1%;
  height: 30px;
  width: 30px;
  border: 1px solid #000000;
  background: #ebd3af url(/public/reload.png) no-repeat 1px 1px;
  background-size: 26px;
  cursor: pointer;
  border-radius: 4px;
}

.CardList {
  margin-top: 100px;
}

.FullCard {
  display: grid;
  gap: 50px;

  grid-template-rows: 150px 150px;
  grid-template-columns: 300px 500px;

  justify-items : center;
  align-items: center;
}